<nav class="nav">
    <div>
        <a href="index.php"><img src="view/main/img/Anime-Logo.jpg" alt="Logo-Site"></a>
    </div>
<!--<div>
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>-->
    <div>
        Welcome, {{this.user}}
        <a id="user_insert"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <a id="user_config" ><i class="fa fa-cog" aria-hidden="true"></i></a>
        <a id="user_signout" ><i class="fa fa-power-off" aria-hidden="true"></i></a>
    </div>    
    </nav>
        <div id="insert-box" class="header-box-one hiden">
            <form id="insert-form" name="insert" method="post" enctype="multipart/form-data" onkeypress="runScriptInsert(event)">
                <div><i id="insert-close" class="fa fa-close"></i></div>
                <h2>Insert new content</h2><br>
                <input type="text" name="title" placeholder="Anime's title"><br>
                <textarea name="plot" id="" placeholder="Write the anime's plot" cols="24" rows="10"></textarea><br>
            <!--<input type="hidden"  name="MAX_FILE_SIZE" value="60000" />-->
                <input type="file" name="image" id="image" ><!--accept="image/*" >-->
                <input type="button" name="submit_insert" value="INSERT" onclick="goInsert()">
            </form>    
        </div>
        <div id="config-box" class="header-box-two hiden">
            <form id="config-form" method="post" onkeypress="runScriptConfig(event)">
                <div><i id="config-close" class="fa fa-close"></i></div>
                <input type="text" name="name" placeholder="Name" value="{{this.name}}"><br>
                <input type="text" name="lname" placeholder="Lastname" value="{{this.lastname}}"><br>
                <input type="text" name="mail" placeholder="E-mail" value="{{this.email}}"><br>
                <input type="text" name="user" placeholder="Username" value="{{this.user}}"><br>
                <input type="password" name="pass" placeholder="Password" value="{{this.password}}"><br>
                <input type="button" value="SIGN UP" onclick="goConfig()">     
            </form>
        </div>